.project {
  &_title {
    position: relative;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 4px;
      left: 50%;
      bottom: -4px;
      transform: translateX(-50%);
      border-radius: 5px;
      background-color: var(--yellow);
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
