.link {
  display: inline-block;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 4px 10px;
  border-radius: 8px;
  background: var(--yellow);
  color: var(--black-secondary);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  

  &:hover {
    background: var(--gradient-yellow);
  }
}

// .link:link,
// .link:visited {

//     position: absolute;
// }

// .link:hover {
//     transform: translateY(-3px);
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
// }

// .link:active {
//     transform: translateY(-1px);
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
// }

// .link-white {
//     background-color: #fff;
//     color: #777;
// }

// .link::after {
//     content: "";
//     display: inline-block;
//     height: 100%;
//     width: 100%;
//     border-radius: 100px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     transition: all .4s;
// }

// .link-white::after {
//     background-color: #fff;
// }

// .link:hover::after {
//     transform: scaleX(1.4) scaleY(1.6);
//     opacity: 0;
// }

// .link-animated {
//     animation: moveInBottom 5s ease-out;
//     animation-fill-mode: backwards;
// }

// @keyframes moveInBottom {
//     0% {
//         opacity: 0;
//         transform: translateY(30px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateY(0px);
//     }
// }

