.link {
  display: inline-block;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 4px 10px;
  border-radius: 8px;
  background: var(--yellow);
  color: var(--black-secondary);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;

  border-color: var(--yellow);
  // color: #fff;
  box-shadow: 0 0 40px 40px var(--yellow) inset, 0 0 0 0 var(--yellow);
  transition: all 150ms ease-in-out;
  transform: scale(1);

  &:hover {
    // background: var(--gradient-yellow);
    background-color: transparent;
    transform: scale(1.1);
    // box-shadow: 0 0 10px 0 var(--yellow) inset, 0 0 10px 4px var(--yellow);
  }
}

// .third {
//   border-color: $blue;
//   color: #fff;
//   box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
//   transition: all 150ms ease-in-out;

//   &:hover {
//     box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
//   }
// }
