.logo {
  z-index: 99;
  display: flex;
  align-items: center;
  // font-family: "DancingScript-Bold", cursive;

  &_img {
    width: 75px;
  }

  &_name {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    
    &_white {
      color: #fff;
    }

    @media screen and (min-width: 768px) {
      font-size: 38px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 44px;
    }
  }
}
