@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;

/* @font-face {
  font-family: "Manrope";
  src: url("/public/assets/fonts/Manrope.ttf") format("truetype");
} */

@font-face {
  font-family: "DancingScript-Bold";
  font-style: normal;
  font-weight: 700;
 font-display: fallback;
  src: url("/public/fonts/DancingScript-Bold.ttf") format('truetype');;
}

@font-face {
  font-family: "Carattere-Regular";
  font-style: normal;
  font-weight: 700;
 font-display: fallback;
  src: url("/public/fonts/Carattere-Regular.ttf") format('truetype');;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  src: url("/public/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  /* font-display: swap; */
  src: url("/public/fonts/");
}

@font-face {
  font-family: "Allison-Regular";
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  src: url("/public/fonts/Allison-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  src: url("/public/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 500;
  /* font-display: swap; */
  src: url("/public/fonts/Raleway-Medium.ttf");
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --transitionHover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* font-family: "PlayfairDisplay"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* Reset */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: inline-block;
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Theme */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.dark {
  background-color: rgb(13, 6, 41);
  color: #bbb;
}

.light {
  background-color: white;
  color: #111;
  --text-stroke-color: rgba(0, 0, 0, 0.875);
}

.theme {
  transition: 0.6s all ease-in-out;
}

/* Swiper */
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 500px;
  height: 500px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
