.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap:10px
}