.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 501.45pxpx;
  padding: 10px;

  

  &__btn {
    display: inline-block;
    cursor: pointer;
   
    background-color: var(--yellow);
    
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 5px;

    font-family: Saira;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: var(--text-color-grey);
    }
  }
}
