.bg {
  // background-image: url('/assets/purple-flowers.png');
//   background-image: url("/assets/yellow-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
